doctype html
html(lang="en")
  head
    title nancle
    script(type='text/javascript', src='js/lib/vue.min.js')
    link(rel='stylesheet', type='text/css', href='css/app.css')
  body
    include layout

    script(type='text/javascript', src='js/templates.js')
    script(type='text/javascript', src='js/app.js')
