body
  padding 0px
  margin 0px
  center 600px
  font-family 'Helvetica Neue', Arial, sans-serif

header
  nav
  ul
    list-style-type none
    padding 0px

  li
    display inline-block
    margin-right 10px

  a
    color #999
    text-decoration none

  a.current
    color blue

article.view
  position absolute
  opacity 1
  -webkit-transition all .2s ease
  transition all .2s ease

article.v-enter
  opacity 0
  -webkit-transform translate3d(30px, 0, 0)
  transform translate3d(30px, 0, 0)

article.v-leave
  opacity 0
  -webkit-transform translate3d(-30px, 0, 0)
  transform translate3d(-30px, 0, 0)
